:root {
  --primaryColor: rgb(219, 244, 91, 0.88);
  --secondaryColor: rgb(165, 54, 127);
  --terciaryColor: #831c1c;
  --white: #fff;
  --black: #000;
  --primaryFont: "Mulish", sans-serif;
  --secondaryFont: "Lalezar", cursive;
  --background-desktop: url(/public/img/background-desktop.webp);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--primaryFont);
}

body {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button {
  font: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: var(--primaryColor);
  font-weight: 700;
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  max-width: 100%;
}
