.property-page {
  padding: 20px 20px 40px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backpage {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.4rem;
}

.title {
  text-align: center;
}

.property-detail {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 483px;
  border-radius: 10px;
  box-shadow: -1px 4px 4px 1px rgba(255, 255, 255, 0.25);
  overflow: hidden;
}

.property__detail-picture {
  object-fit: cover;
  width: 100%;
  height: 220px;
}

.property__detaildata-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.property__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.property__yield {
  background-color: rgba(136, 135, 135, 0.275);
  border: 1px solid var(--white);
  border-radius: 10px;
  box-shadow: 1px 5px 110px 15px rgba(255, 255, 255, 0.25);
  width: 280px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  gap: 10px;
  font-weight: 700;
}

.property__detail-description-preview {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: flex;
  overflow: hidden;
  font-size: 0.7rem;
}

.description-more {
  color: var(--primaryColor);
}

.property__detail-fulldescription {
  width: 100%;
  min-height: 100%;
  white-space: wrap;
}

.properties-features__list {
  display: flex;
  flex-direction: column;
  padding: 0 24px 20px;
  margin: 0;
  gap: 4px;
}

.features__title {
  margin-bottom: 5px;
  padding-left: 10px;
}

.list-features {
  list-style: circle;
  font-size: 0.9rem;
}

@media (min-width: 700px) {
  .property-page {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .property-detail {
    display: flex;
    flex-direction: column;
    width: 480px;
    min-height: 700px;
  }

  .property__detail-picture {
    height: 320px;
  }

  .property__section {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .property__yield {
    width: 170px;
    height: 120px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .rented {
    width: 120px;
  }
}

@media (min-width: 1100px) {
  .property-detail {
    width: 730px;
    min-height: 900px;
  }

  .property__detail-picture {
    height: 420px;
  }

  .property__yield {
    width: 200px;
    height: 125px;
  }

  .rented {
    width: 120px;
  }
}
