.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.navigation-link {
  transition: 0.7s ease;
  font-family: var(--primaryFont);
  font-weight: 800;
  color: var(--white);
}

.navigation-link__post {
  transition: 0.7s ease;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.25rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

@media (max-width: 765px) {
  .hamburguer {
    display: flex;
  }

  .navigation-list {
    position: fixed;
    left: -100%;
    top: 65px;
    flex-direction: column;
  }

  .navigation-list.active {
    left: 0;
  }

  .navigation-link__post,
  .navigation-link__home {
    margin: 16px 0;
  }

  .navigation-link__post {
    border: 1px solid black;
    background-color: var(--white);
    border-radius: 20px;
    padding: 0.25rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
