.header {
  min-height: 65px;
  width: 100%;
  font-size: 0.9rem;
  background-image: var(--background-desktop);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--secondaryFont);
  color: var(--white);
  padding: 20px;
  top: 0;
  left: 0;
}

.button--transparent-user {
  display: flex;
  background-color: var(--primaryColor);
  color: var(--black);
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-family: var(--primaryFont);
  font-weight: 700;
  flex-direction: row-reverse;
  gap: 10px;
}

.title-text {
  display: none;
}

.title__logo {
  display: none;
}

@media (min-width: 765px) {
  .header {
    justify-content: space-between;
  }

  .title-container {
    display: flex;
    gap: 10px;
    font-size: 0.6rem;
    align-items: baseline;
  }

  .title-text {
    display: flex;
  }

  .title__logo {
    margin-bottom: 10px;
  }
}
