.header {
  min-height: 65px;
  font-size: 0.9rem;
  background-color: var(--primaryColor);
  font-family: var(--secondaryFont);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
