.container {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-container {
  padding: 20px;
  border-radius: 5px;
  width: 280px;
  height: 550px;
  margin: 0 auto;
  background-color: var(--background-opacity);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.login-container__subtitle {
  color: var(--white);
  text-align: center;
}

.form__signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-link {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.101);
  border-radius: 5px;
  font-size: 0.8rem;
  margin: 10px 0;
}

.button--transparent-primary {
  display: flex;
  background-color: rgba(65, 64, 64, 0.608);
  border: 2px solid white;
  color: var(--white);
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 45px;
  font-family: var(--primaryFont);
  font-weight: 400;
  font-size: 0.8rem;
  gap: 10px;
}
