.error {
  display: flex;
  flex-direction: column;
}

.error__number {
  font-size: 6rem;
  font-weight: 700;
  color: var(--white);
}

.error__title {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--white);
  bottom: 10px;
}

.error-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.button--solid {
  color: var(--white);
  background: var(--detail-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
