.footer {
  display: flex;
  font-size: 1rem;
  color: var(--white);
  font-weight: 400;
  justify-content: space-between;
  background-image: var(--background-desktop);
  background-repeat: no-repeat;
  background-position: bottom;
  border-top: 3px solid rgba(64, 64, 64, 0.486);
  background-size: cover;
  height: 80px;
  align-items: baseline;
  gap: 10px;
  padding: 20px;
}
