.header {
  min-height: 65px;
  font-size: 0.9rem;
  letter-spacing: 3px;
  color: var(--white);
  font-family: var(--secondaryFont);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-image: var(--background-desktop);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  width: 100%;
}

.form-container {
  padding: 20px;
}

h1 {
  display: none;
}

.button--opacity {
  display: flex;
  background-color: var(--primaryColor);
  color: var(--black);
  align-items: center;
  justify-content: center;
  height: 25px;
  font-family: var(--primaryFont);
  font-weight: 700;
  flex-direction: row-reverse;
  gap: 10px;
  width: 155px;
  border-radius: 5px;
}

.hero-container__box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0.8;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.06);
  min-height: 130px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.form__row {
  color: var(--white);
  font-size: 0.7rem;
}

.box__title {
  font-size: 1.5rem;
  font-family: var(--primaryFont);
  color: var(--white);
  font-weight: 700;
}

.extra-module {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.extra-content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  min-height: 350px;
}

.extra-content__image {
  height: 270px;
  border-radius: 2px;
  opacity: 0.8;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.extra-content__text {
  display: flex;
  flex-direction: column;
  color: var(--white);
  padding: 10px;
  gap: 15px;
}

@media (min-width: 765px) {
  h1 {
    display: block;
  }

  .extra-module {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
  }

  .extra-content__image {
    border-radius: 50%;
    width: 200px;
    height: 190px;
  }

  .extra-content__text {
    max-width: 270px;
    text-align: center;
    font-size: 1.3rem;
    opacity: 0.8;
  }

  .extra-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .button--transparent-primary {
    font-size: 0.9rem;
  }
}
